main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

input[type="number"] {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    -moz-appearance: textfield;
    border: none;
}

input[type="text"] {
    border: none;

    color: inherit;
    background-color: transparent;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;

    gap: 20px;

}

form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

select {
    width: 220px;
    height: 50px;

    /*arrow*/
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='18px' height='18px'><path d='M7 10l5 5 5-5H7z'/></svg>") no-repeat right 10px center;


    text-align: center;
    -moz-appearance: none;
    border: 2px solid lightgray;
    border-radius: 10px;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    font-size: 1em;
    background-color: #f8f8f8;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

#cutting_board {
    position: absolute;
    top: auto;
    /*left: 30%;*/
    left: 576px;
    transform: translate(-50%, -50%);


    overflow: hidden;
    z-index: -1; /* Make sure it's behind the form */
}

#images {
    position: absolute;
    width: 954px;
    height: 636px;

    left: 96px;
}

#images > div > img {
    position: absolute;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img[class="vertical"] {
    transform: rotate(90deg) translate(0, -100%);
    transform-origin: top left;

    top: 28px;
    left: 60px;
}

img[class="horizontal"] {
    bottom: 70px;
    right: 33px;
}

nav > a[href="/order"] {
    color: #ff8e8e;
}

p {
    margin: 0;
}

#disclaimer {
    font-style: italic;
    font-size: smaller;
    width: 350px;
}
