main {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: #f0f0f0;
}
#about {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    margin-top: 40px;
    margin-bottom: 40px;

}
h1 {
    text-align: center;
    font-size: 50px;
    color: #333;
    margin: 0;
}
h2 {
    color: #555;
    margin-top: 5%;
    margin-bottom: 0;
}
p {
    margin: 0;
    color: #666;
    text-align: justify;
    text-justify: auto;
}